$orangeColor: #ff7001; //主题色
$mainBg:#f7f7f7; //背景颜色
// 超出  $line  行隐藏

@mixin ignore($line: 1) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 公共样式
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
body,
html {
  width: 100%;
  max-width: 100%;
  font-size: 12px;
  word-break: break-all;
}
a,
input,
textarea,
select {
  outline: none;
  text-decoration: none;
}
li {
  list-style: none;
}

// container
.st-container{
    width: 1400px;
    margin: 0 auto;
}
.mainBg{
    background-color: $mainBg;
}
.mt80{
  margin-top: 80px;
}

.st-message-zan{
  text-align: right;
  height: 20px;
  line-height: 20px;
  .time{
    font-size:12px;
    font-weight:400;
    color:rgba(153,153,153,1);
    float: left;
  }
  .zan,.cai{
    font-size:14px;
    font-weight:400;
    color:rgba(153,153,153,1);
    position: relative;
    margin-left: 40px;
    padding-left: 22px;
    display: inline-block;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 100%;
    }
  }
  .zan{
    &::before{
      background: url(/img/zan.png) no-repeat 0 center;
    }
  }
  .cai{
    &::before{
      background: url(/img/cai.png) no-repeat 0 center;
    }
  }
}

// 面包屑
.st-breadcrumb{
  padding: 20px 0;
}
