@import "./base.scss";
$orangeColor: #ff7001; //主题色
/* form自定义 */
.el-input__inner {
  max-width: 300px;
  border: 1px solid #ccc;
  height: 36px;
  line-height: 36px;
  border-radius: 0;
}

.el-pagination.is-background .el-pager li:not(.disabled).active{
  background: $orangeColor;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover{
  color: $orangeColor;
}

.st-search {
  .el-input__inner{
    height:50px;
    line-height: 50px;
    max-width: 100%;
    box-shadow:0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    opacity:0.8;
    font-family:Source Han Sans CN;
    color:rgba(153,153,153,1);
  }
  .el-input__icon{
    width: 52px;
    line-height: 50px;
  }
  .el-icon-search:before{
    font-size: 22px;
  }
}
.el-form-item__label {
  color: #333;
}
/* button */
.el-button--primary {
  background-color: $orangeColor;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  font-size: 28px;
  border: none;
}
.el-button.is-plain:focus,
.el-button.is-plain:hover,
.el-button:focus,
.el-button:hover {
  color: $orangeColor;
  border-color: $orangeColor;
  background-color: $orangeColor;
  color: #fff;
}
.el-button:active {
  color: $orangeColor;
  border-color: $orangeColor;
}
// form
.el-form-item {
  margin-bottom: 20px;
}

.st-page{
  padding: 40px 0;
}


// el-checkbox-group
.el-checkbox-group{
  line-height: 32px;
  .el-checkbox-button{
    .el-checkbox-button__inner{
      margin: 5px 20px 10px 0;
      height:32px;
      line-height: 32px;
      padding: 0 20px;
      border: none;
      background:rgba(204,204,204,1);
      border-radius:5px;
      color: #ffffff;
      &:hover{
        color: $orangeColor;
      }
    }
  }
  .is-checked{
    .el-checkbox-button__inner{
      background: $orangeColor;
      &:hover{
        color: #ffffff;
      }
    }
  }
  
}

// el-radio-group
.el-radio-group{
  .el-radio-button{
    .el-radio-button__inner{
      margin: 5px 20px 10px 0;
      height:32px;
      line-height: 32px;
      padding: 0 20px;
      border: none;
      background:rgba(204,204,204,1);
      border-radius:5px;
      color: #ffffff;
      &:hover{
        color: $orangeColor;
      }
    }
    
  }
  .is-active{
    .el-radio-button__inner{
      background: $orangeColor;
      &:hover{
        color: #ffffff;
      }
    }
  }
}
.valuation-r{
  .el-form{
    .el-form-item__label,
    .el-checkbox-button__inner,
    .el-radio-button__inner,
    .el-rate__icon,
    .el-rate__text,
    .el-textarea,
    .el-form-item__content{
      font-size: 18px;
    }
  }
}


// 验证码

// 验证码
.block {
  position: absolute;
  left: 0;
  top: 0;
}

.sliderContainer {
  position: relative;
  text-align: center;
  width: 310px;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  background: #f7f9fa;
  color: #45494c;
  border: 1px solid #e4e7eb;
}

.sliderContainer_active .slider {
  height: 38px;
  top: -1px;
  border: 1px solid $orangeColor;
}

.sliderContainer_active .sliderMask {
  height: 38px;
  border-width: 1px;
}

.sliderContainer_success .slider {
  height: 38px;
  top: -1px;
  border: 1px solid #ffffff;
  background-color: $orangeColor !important;
}

.sliderContainer_success .sliderMask {
  height: 38px;
  border: 1px solid $orangeColor;
  background-color: rgba(255, 122, 1, .4);
}

.sliderContainer_success .sliderIcon {
  background-position: 0 0 !important;
}

.sliderContainer_fail .slider {
  height: 38px;
  top: -1px;
  border: 1px solid #f57a7a;
  background-color: #f57a7a !important;
}

.sliderContainer_fail .sliderMask {
  height: 38px;
  border: 1px solid #f57a7a;
  background-color: $orangeColor;
}

.sliderContainer_fail .sliderIcon {
  background-position: 0 -83px !important;
}
.sliderContainer_active .sliderText, .sliderContainer_success .sliderText, .sliderContainer_fail .sliderText {
  display: none;
}

.sliderMask {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  border: 0 solid $orangeColor;
  background: #D1E9FE;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 38px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background .2s linear;
}

.slider:hover {
  background: $orangeColor;
}

.slider:hover .sliderIcon {
  background-position: 0 -13px;
}

.sliderIcon {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 14px;
  height: 10px;
  background: url('/img/icon_light.f13cff3.png') 0 -26px;
  background-size: 34px 471px;
}

.refreshIcon {
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background: url('/img/icon_light.f13cff3.png') 0 -437px;
  background-size: 34px 471px;
}
