/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #ee6b03;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// 公共样式
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
    &:before,&:after{
        -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
    }
}
body,html{
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-size: 12px;
    word-break:break-all;
}
#app{
    height: 100%;
}
body{
    background: #f8f8f8;
    // font-family: '微软雅黑', 'Avenir', Helvetica, Arial, sans-serif;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
a,input,textarea,select{
    font-family: "Microsoft YaHei";
    outline: none;
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 10px;
    border-radius: 20px;
}

.containerBgColor{
    background: rgba(237,234,230,1);
}
.containerBgColor1{
    background: rgba(171,191,203,1);
}
.bg3{
    background: rgba(23,44,78,1);
}
.bg1{
    background: rgba(55,16,14,1);
}
.bg2{
    background: rgba(22,47,59,1);
}

.vue-directive-image-previewer{
    z-index: 1000!important;
}
// 对齐方式
.tr{
    text-align: right;
}

// margint
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.el-drawer__header{
    margin-bottom: 0;
}
@media screen and (max-width: 750px) {
    .container{
        width: calc(100% - 40px);
        margin: 0 20px;
    }
}

// 返回按钮
.back{
    width: 30px;
    height: 30px;
    background: #999999;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    &::before{
        line-height: 30px;
    }
}
.pcMenu{
    .el-menu{
        background: none;
    }
    .el-menu--horizontal > .el-menu-item:not(.is-disabled):hover, .el-menu--horizontal > .el-menu-item:not(.is-disabled):focus{
        background: none;
    }
}
// 空内容
.empty-con{
    padding: 50px;
    text-align: center;
    font-size: 24px;
}

// 页签重新定义
.find{
    // 选项卡
    .el-tabs{
        .el-tabs__nav-wrap{
            padding: 0!important;
        }
        .el-tabs__header{
            .el-tabs__nav-prev,
            .el-tabs__nav-next{
                display: none;
            }
        }
        .el-tabs__header{
            width: 287px;
            padding: 5px 8px;
            border-radius: 30px;
            background: rgb(167, 190, 198);
            margin: 0 auto 10px auto;
            .el-tabs__nav-wrap::after{
                display: none;
            }
            .is-active{
                color: #ffffff;
            }
            .el-tabs__active-bar{
                background: rgb(22, 47, 59);
                height: 30px;
                z-index: 0;
                padding: 0 30px;
                bottom: 5px;
                border-radius: 30px;
                color: #ffffff;
            }
        }
    }
}
.containerBgColor1{
    .el-tabs{
        .el-tabs__header{
            background: #ffffff;
        }
    }
}
//  个人中心页签重新定义
.usercenter-tagcon{
    .el-tabs--card > .el-tabs__header .el-tabs__nav,
    .el-tabs--card > .el-tabs__header{
        // border-color: rgba(55,16,14,1);
        // border-color: #999;
        border: none;
        background: none;
        margin: 0;
    }
    .el-tabs--card > .el-tabs__header .el-tabs__item{
        // border-left-color: rgba(55,16,14,1);
        // border-left-color: #999;
        height: 50px;
        border: none;
        background: #dae2f8;
        color: #666;
        padding: 5px 20px;
        &.is-active{
            background: #e0e6f0;
            color: #162f3b;
        }
        &:first-child{
            border-top-left-radius: 20px;
        }
        &:last-child{
            border-top-right-radius: 20px;
        }
    }
    .el-tabs__nav-wrap::after{
        background-color: #999;;
    }
    .el-tabs__content{
        background: #e0e6f0;
        padding: 30px;
    }
}

// el-checkbox-group
.el-checkbox-group{
    line-height: 32px;
    .el-checkbox-button{
      .el-checkbox-button__inner{
        margin: 5px 20px 10px 0;
        height:32px;
        line-height: 32px;
        padding: 0 20px;
        border: none;
        background:rgba(204,204,204,1);
        border-radius:5px;
        color: #ffffff;
        &:hover{
          color: rgba(171,191,203,1);
        }
      }
    }
    .is-checked{
      .el-checkbox-button__inner{
        background: rgba(171,191,203,1);
        box-shadow: none;
        &:hover{
          color: #ffffff;
        }
      }
    }
    
  }
  .el-form-item__content{
      line-height: 38px;
  }


//上传 
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 108px;
        height: 108px;
        line-height: 108px;
        text-align: center;
    }
    .avatar {
        width: 108px;
        height: 108px;
        display: block;
    }
}
 
  