@import "@/assets/base.scss";
.form-page {
  padding: 40px 60px;
}
.title {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
  img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
  }
}
.reg-submit-warp {
  span {
    font-size: 20px;
  }
  span:first-child {
    color: #333;
  }
  span:last-child {
    color: $orangeColor;
  }
}
