@import "@/assets/base.scss";
.form-page {
  padding: 60px;
}
.title {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
}
.reg-submit-warp {
  span {
    font-size: 20px;
  }
  span:first-child {
    color: #333;
  }
  span:last-child {
    color: $orangeColor;
  }
}
