/* 上传样式 */
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #ccc;
  width: 300px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.avatar {
  width: 300px;
  height: 150px;
  display: block;
}
/* 验证码 */
.vertify-code {
  width: 150px;
  margin-right: 20px;
}
